.instances-container{
    position: relative;

    .icon{
        cursor: pointer;
        width: 45px; height: 45px;
        display: flex; justify-content: center; align-items: center;
        border: 1px solid var(--color-1); border-radius: 10px;
        transition: background-color .2s;
        
        &:hover{
            background-color: var(--color-1);

            img{
                filter: invert(100%);
            }
        }

        img{
            width: 60%;
            transition: filter .2s;
        }
    }

    .items{
        position: absolute;
        top: 0; left: 0; transform: translate(-70px, -100%) scaleX(0);
        width: 200px; padding: 10px 0;
        transition: transform .1s;
        display: flex; flex-direction: column; justify-content: center; align-items: center; row-gap: 5px;
        color: var(--color-1);
        transform-origin: center;
        font-weight: bold;

        .item {
            background-color: var(--color-1); color: var(--bg-color-1);
            height: 30px; width: 100%;
            display: flex; justify-content: center; align-items: center;
            cursor: pointer;
            border-radius: 5px;
            transition: .1s;
            border: 2px solid var(--color-1);

            .item-name{
                width: 80%; height: 90%; display: flex; align-items: center;
                padding-left: 5px;
            }

            .button{
                width: 10%;
            }

            &:hover{
                background-color: var(--bg-color-1); color: var(--color-1);
            }

            &:has(.hide:hover){
                border-color: var(--color-blue);

                .hide,.item-name{
                    color: var(--color-blue);
                }
            }

            &:has(.close:hover){
                border-color: var(--color-red);

                .close,.item-name{
                    color: var(--color-red);
                }
            }
        }

        .hidden{
            opacity: .5;
        }
    }

    .expanded{
        transform: translate(-70px, -100%) scaleX(1);
    }
}