<div class="instances-container"
    (mouseenter)="hoverStart()"
    (mouseleave)="hoverEnd()"
    (contextmenu)="onRightClick($event)"
    >
    <div class="icon"><img src="{{stack[0].application.icon}}" alt="icon"></div>

    <div class="items" [class.expanded]="expand">
        <div class="item" *ngFor="let item of stack; index as i" style="--i : {{i}};"
            (mouseenter)="onMouseEnterInstance(item.id)"
            (mouseleave)="onMouseLeaveInstance(item.id)"
            [class.hidden]="item.hidden"
            >
                <p class="item-name" (click)="putFront(item.id)">{{item.application.displayName}}</p>
                <div class="button hide" (click)="hideReveal(item.id)" title="{{item.hidden ? 'reveal' : 'hide'}}">{{item.hidden ? '&#9650;' : '&#9660;'}}</div>
                <div class="button close" (click)="close(item.id)" title="close">X</div>
        </div>
    </div>
    
</div>