.container{
    position: fixed; bottom: 0; left: 0;
    z-index: 9999;
    width: 100%;
    min-height: max-content;
    height: 50px;
    padding-left: 20px;
    background-color: var(--bg-color-3);
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: nowrap;
    align-items: center;

    .stack-item{
        z-index: 99;
        height: 24px; width: 200px;
        color: var(--color-1);
    }
}